client/app/inscriptos/inscriptos.jade
.col-md-12
  .list-group.editable-list-container
    .alert.alert-danger.col-md-12(ng-hide='table.isValid') {{ table.errors }}
    table.table(ng-table='tableParams', export-csv="csv")
        tr(ng-repeat='inscripto in $data' ng-class='{pagado:inscripto.pago}')
          td(data-title='\'Nombre\'', data-sortable='\'nombre\'')
            span(ng-if='!inscripto.$edit') {{inscripto.nombre}}
            div(ng-if='inscripto.$edit')
              input.form-control(type='text', ng-model='inscripto.nombre')
          td(data-title='\'Apellido\'',data-sortable='\'apellido\'')
            span(ng-if='!inscripto.$edit') {{inscripto.apellido}}
            div(ng-if='inscripto.$edit')
              input.form-control(type='text', ng-model='inscripto.apellido')
          td(data-title='\'DNI\'',data-sortable='\'dni\'')
            span(ng-if='!inscripto.$edit') {{inscripto.dni}}
            div(ng-if='inscripto.$edit')
              input.form-control(type='text', ng-model='inscripto.dni')
          td(data-title='\'CUIT\'',data-sortable='\'cuit\'')
            span(ng-if='!inscripto.$edit') {{inscripto.cuit}}
            div(ng-if='inscripto.$edit')
              input.form-control(type='text', ng-model='inscripto.cuit')
          td(data-title='\'Cargo\'',data-sortable='\'cargo\'')
            span(ng-if='!inscripto.$edit') {{inscripto.cargo}}
            div(ng-if='inscripto.$edit')
              input.form-control(type='text', ng-model='inscripto.cargo')
          td(data-title='\'Teléfono\'',data-sortable='\'telefono\'')
            span(ng-if='!inscripto.$edit') {{inscripto.telefono}}
            div(ng-if='inscripto.$edit')
              input.form-control(type='text', ng-model='inscripto.telefono')
          td(data-title='\'Email\'',data-sortable='\'email\'')
            span(ng-if='!inscripto.$edit') {{inscripto.email}}
            div(ng-if='inscripto.$edit')
              input.form-control(type='text', ng-model='inscripto.email')
          td(data-title='\'Categoria\'',data-sortable='\'email\'')
            span(ng-if='!inscripto.$edit') {{inscripto.categoria.nombre}}
            div(ng-if='inscripto.$edit')
              select.form-control(required, ng-model='inscripto.categoria', ng-options='categoria.nombre for categoria in categorias',name='categoria')
          td(data-title='\'Pagó\'',data-sortable='\'pago\'')
            span(ng-if='!inscripto.$edit') {{inscripto.pago? 'Sí':'No'}}
            div(ng-if='inscripto.$edit')
              input(type="checkbox", ng-model='inscripto.pago')
          td(data-title='\'Asistió\'',data-sortable='\'asistio\'')
            span(ng-if='!inscripto.$edit') {{inscripto.asistio? 'Sí':'No'}}
            div(ng-if='inscripto.$edit')
              input(type="checkbox", ng-model='inscripto.asistio')
          td.acciones-column(data-title='\'Acciones\'', width='120')
            a.btn.btn-primary.btn-xs(ng-if='inscripto.$edit', href='', ng-click='guardarRow(inscripto)') Guardar
            a.btn.btn-danger.btn-xs(ng-if='inscripto.$edit', href='', ng-click='inscripto.$edit = false') Cancelar

            button.btn.btn-primary(ng-if='!inscripto.$edit' ng-click='inscripto.$edit = true', type='button')
              span.glyphicon.glyphicon-pencil
            button.btn.btn-danger(ng-if='!inscripto.$edit' ng-click='delete(inscripto)', type='button', style="margin-left:10px")
              span.glyphicon.glyphicon-trash

  form.navbar-form.navbar-right
    a.btn.btn-primary(ng-mousedown="csv.generate()", ng-href="{{ csv.link() }}", download="{{entityName}}_{{today}}.csv") Exportar {{entityName}}

client/app/inscriptos/inscriptos.html
<div class="col-md-12"><div class="list-group editable-list-container"><div ng-hide="table.isValid" class="alert alert-danger col-md-12">{{ table.errors }}</div><table ng-table="tableParams" class="table"><!--tr(ng-repeat='inscripto in entities' ng-class='{pagado:inscripto.pago}')--><!--  td Nombre--><!--  td Apellido--><!--  td DNI--><!--  td CUIT--><!--  td Cargo--><!--  td Teléfono--><!--  td Email--><!--  td Categoria--><!--  td Pagó--><!--  td Asistió--><!--  td Acciones--><tr ng-repeat="inscripto in entities" ng-class="{pagado:inscripto.pago}"><td data-title="'Nombre'" sortable="'nombre'"><span ng-if="!inscripto.$edit">{{inscripto.nombre}}</span><div ng-if="inscripto.$edit"><input type="text" ng-model="inscripto.nombre" class="form-control"/></div></td><td data-title="'Apellido'" sortable="'apellido'"><span ng-if="!inscripto.$edit">{{inscripto.apellido}}</span><div ng-if="inscripto.$edit"><input type="text" ng-model="inscripto.apellido" class="form-control"/></div></td><td data-title="'DNI'" sortable="'dni'"><span ng-if="!inscripto.$edit">{{inscripto.dni}}</span><div ng-if="inscripto.$edit"><input type="text" ng-model="inscripto.dni" class="form-control"/></div></td><td data-title="'CUIT'" sortable="'cuit'"><span ng-if="!inscripto.$edit">{{inscripto.cuit}}</span><div ng-if="inscripto.$edit"><input type="text" ng-model="inscripto.cuit" class="form-control"/></div></td><td data-title="'Cargo'" sortable="'cargo'"><span ng-if="!inscripto.$edit">{{inscripto.cargo}}</span><div ng-if="inscripto.$edit"><input type="text" ng-model="inscripto.cargo" class="form-control"/></div></td><td data-title="'Teléfono'" sortable="'telefono'"><span ng-if="!inscripto.$edit">{{inscripto.telefono}}</span><div ng-if="inscripto.$edit"><input type="text" ng-model="inscripto.telefono" class="form-control"/></div></td><td data-title="'Email'" sortable="'email'"><span ng-if="!inscripto.$edit">{{inscripto.email}}</span><div ng-if="inscripto.$edit"><input type="text" ng-model="inscripto.email" class="form-control"/></div></td><td data-title="'Categoria'" sortable="'email'"><span ng-if="!inscripto.$edit">{{inscripto.categoria.nombre}}</span><div ng-if="inscripto.$edit"><select required="required" ng-model="inscripto.categoria" ng-options="categoria.nombre for categoria in categorias" name="categoria" class="form-control"></select></div></td><td data-title="'Pagó'" sortable="'pago'"><span ng-if="!inscripto.$edit">{{inscripto.pago? 'Sí':'No'}}</span><div ng-if="inscripto.$edit"><input type="checkbox" ng-model="inscripto.pago"/></div></td><td data-title="'Asistió'" sortable="'asistio'"><span ng-if="!inscripto.$edit">{{inscripto.asistio? 'Sí':'No'}}</span><div ng-if="inscripto.$edit"><input type="checkbox" ng-model="inscripto.asistio"/></div></td><td data-title="'Acciones'" width="120" class="acciones-column"><a ng-if="inscripto.$edit" href="" ng-click="guardarRow(inscripto)" class="btn btn-primary btn-xs">Guardar</a><a ng-if="inscripto.$edit" href="" ng-click="inscripto.$edit = false" class="btn btn-danger btn-xs">Cancelar</a><button ng-if="!inscripto.$edit" ng-click="inscripto.$edit = true" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></button><button ng-if="!inscripto.$edit" ng-click="delete(inscripto)" type="button" style="margin-left:10px" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button></td></tr></table><!----><!--li.list-group-item.row.editable-list(ng-repeat='inscripto in entities | filter:filtradoEntidades')--><!--  .col-md-10--><!--    strong {{inscripto.nombre}} {{inscripto.apellido}}--><!--    br--><!--    span.text-muted {{inscripto.cuit}}--><!--  .col-md-2--></div></div>
