client/app/evento/categorias_habilitadas/categorias-habilitadas.html
<div class="col-md-12"><div class="well well-lg">En próximas versiones se podrán seleccionar las categorías habilitadas
desde esta sección, a partir de las categorías registradas en la sección global.</div></div><form><input type="text" ng-model="categoriaSeleccionada" typeahead="cat as cat.nombre for cat in categoriasGlobales | filter:$viewValue | limitTo:8" class="form-control"/><div ng-click="agregarCategoria()" class="btn btn-primary disabled">Habilitar Categoría</div></form><div class="row"><div ng-repeat="categoria in evento.categoriasHabilitadas" class="list-group-item row editable-list col-md-2"><strong>{{categoria.nombre}}</strong><br/><span class="text-muted">{{categoria.detalle}}</span></div></div>

client/app/evento/categorias_habilitadas/categorias-habilitadas.jade
.col-md-12
  .well.well-lg
    |En próximas versiones se podrán seleccionar las categorías habilitadas
    | desde esta sección, a partir de las categorías registradas en la sección global.

form
  input.form-control(type='text', ng-model='categoriaSeleccionada', typeahead='cat as cat.nombre for cat in categoriasGlobales | filter:$viewValue | limitTo:8')
  .btn.btn-primary.disabled(ng-click='agregarCategoria()') Habilitar Categoría
.row
  .list-group-item.row.editable-list.col-md-2(ng-repeat='categoria in evento.categoriasHabilitadas')
    strong {{categoria.nombre}}
    br
    span.text-muted {{categoria.detalle}}
