client/app/formulario/formulario.html
<div class="formulario-inscripcion col-md-6"><h3>Inscripción {{evento.nombre}}</h3><div ng-show="inscripcion.exitosa" ng-bind-html="mensajeDeExito" class="alert alert-success"></div><form name="form" ng-submit="done(form)" novalidate="" ng-hide="inscripcion.exitosa" class="form"><div class="row"><div ng-show="form.empresa.$error.mongoose" class="alert alert-danger col-md-12">{{ errors.empresa }}</div></div><div class="row"><div class="form-group col-md-6"><label>Nombre</label><input type="text" ng-model="inscripto.nombre" name="nombre" is-open="opened" show-button-bar="false" class="form-control"/><p ng-show="form.nombre.$error.mongoose" class="help-block">{{ errors.nombre }}</p></div><div class="form-group col-md-6"><label>Apellido</label><input type="text" ng-model="inscripto.apellido" name="apellido" is-open="opened" show-button-bar="false" class="form-control"/><p ng-show="form.apellido.$error.mongoose" class="help-block">{{ errors.apellido }}</p></div></div><div class="row"><div class="form-group col-md-6"><label>Dni</label><input type="text" ng-model="inscripto.dni" name="dni" is-open="opened" show-button-bar="false" class="form-control"/><p ng-show="form.dni.$error.mongoose" class="help-block">{{ errors.dni }}</p></div><div class="form-group col-md-6"><label>Cargo</label><input type="text" ng-model="inscripto.cargo" name="cargo" is-open="opened" show-button-bar="false" class="form-control"/><p ng-show="form.cargo.$error.mongoose" class="help-block">{{ errors.cargo }}</p></div></div><div class="row"><div class="form-group col-md-6"><label>Cuit</label><input type="text" ng-model="inscripto.cuit" name="cuit" is-open="opened" show-button-bar="false" class="form-control"/><p ng-show="form.cuit.$error.mongoose" class="help-block">{{ errors.cuit }}</p></div><div class="form-group col-md-6"><label>Teléfono</label><input type="text" ng-model="inscripto.telefono" name="telefono" is-open="opened" show-button-bar="false" class="form-control"/><p ng-show="form.telefono.$error.mongoose" class="help-block">{{ errors.telefono }}</p></div></div><div class="form-group"><label>e-Mail</label><input type="text" ng-model="inscripto.email" name="email" is-open="opened" show-button-bar="false" class="form-control"/><p ng-show="form.email.$error.mongoose" class="help-block">{{ errors.email }}</p></div><div class="form-group"><label>Categoría {{inscripto.categoria.detalle}}</label><select required="required" ng-model="inscripto.categoria" ng-options="categoria.nombre for categoria in categorias" name="categoria" class="form-control"></select><p ng-show="form.categoria.$error.mongoose" class="help-block">{{ errors.categoria }}</p></div><div ng-show="inscripto.categoria.validarEmpresa" class="form-group"><label>Empresa</label><select ng-model="inscripto.empresa" ng-options="empresa.nombre for empresa in empresas" name="empresa" class="form-control"></select><p ng-show="form.empresa.$error.mongoose" class="help-block">{{ errors.empresa }}</p></div><br/><button type="submit" class="btn btn-default">Guardar</button></form></div>

client/app/formulario/formulario.jade
.formulario-inscripcion.col-md-6
  h3 Inscripción {{evento.nombre}}
  .alert.alert-success(ng-show='inscripcion.exitosa', ng-bind-html='mensajeDeExito')
  form.form(name='form', ng-submit='done(form)', ng-hide='inscripcion.exitosa')
    .row
      .alert.alert-danger.col-md-12(ng-show='form.empresa.$error.mongoose') {{ errors.empresa }}
    .row
      .form-group.col-md-6
        label Nombre
        input.form-control(required,type='text', ng-model='inscripto.nombre', name='nombre', is-open='opened', show-button-bar='false')
        p.help-block(ng-show='form.nombre.$error.mongoose') {{ errors.nombre }}
      .form-group.col-md-6
        label Apellido
        input.form-control(required,type='text', ng-model='inscripto.apellido', name='apellido', is-open='opened', show-button-bar='false')
        p.help-block(ng-show='form.apellido.$error.mongoose') {{ errors.apellido }}
    .row
      .form-group.col-md-6
        label Dni
        input.form-control(required,type='text', ng-model='inscripto.dni', name='dni', is-open='opened', show-button-bar='false')
        p.help-block(ng-show='form.dni.$error.mongoose') {{ errors.dni }}
      .form-group.col-md-6
        label Cargo
        input.form-control(required,type='text', ng-model='inscripto.cargo', name='cargo', is-open='opened', show-button-bar='false')
        p.help-block(ng-show='form.cargo.$error.mongoose') {{ errors.cargo }}
    .row
      .form-group.col-md-6
        label Cuit
        input.form-control(required,type='text', ng-model='inscripto.cuit', name='cuit', is-open='opened', show-button-bar='false')
        p.help-block(ng-show='form.cuit.$error.mongoose') {{ errors.cuit }}
      .form-group.col-md-6
        label Teléfono
        input.form-control(required,type='text', ng-model='inscripto.telefono', name='telefono', is-open='opened', show-button-bar='false')
        p.help-block(ng-show='form.telefono.$error.mongoose') {{ errors.telefono }}
    .form-group
      label e-Mail
      input.form-control(required,type='text', ng-model='inscripto.email', name='email', is-open='opened', show-button-bar='false')
      p.help-block(ng-show='form.email.$error.mongoose') {{ errors.email }}
    .form-group
      label Categoría {{inscripto.categoria.detalle}}
      select.form-control(required, ng-model='inscripto.categoria', ng-options='categoria.nombre for categoria in categorias', name='categoria')
      p.help-block(ng-show='form.categoria.$error.mongoose') {{ errors.categoria }}
      span(ng-show="form.categoria.$error.required") Por favor seleccione una categoría
    .form-group(ng-show='inscripto.categoria.validarEmpresa')
      label Empresa
      select.form-control(required,ng-model='inscripto.empresa', ng-options='empresa.nombre for empresa in empresas',name='empresa')
      p.help-block(ng-show='form.empresa.$error.mongoose') {{ errors.empresa }}
      span(ng-show="form.empresa.$error.required") Por favor seleccione una empresa

    br
    button.btn.btn-default(type='submit') Guardar
