client/app/main/main.jade
snap-drawer
  .drawer-header
    .drawer-logo
  ul.drawer-menu
    li
      a.btn(ui-sref='main.listable.eventos', ui-sref-active='drawer-menu-item-active')
        i.glyphicon.glyphicon-calendar
        span Eventos
    li
      a.btn(ui-sref='main.listable.empresas', ui-sref-active='drawer-menu-item-active')
        i.glyphicon.glyphicon-briefcase
        span Empresas
    li
      a.btn(ui-sref='main.listable.inscriptos', ui-sref-active='drawer-menu-item-active')
        i.glyphicon.glyphicon-user
        span Inscriptos
    li
      a.btn(ui-sref='main.listable.categorias', ui-sref-active='drawer-menu-item-active')
        i.glyphicon.glyphicon-tags
        span Categorías

snap-content
  ui-view
  //.footer
  //  .container
  //    p
  //      | UIA Eventos 2014 | by
  //      a(href='mailto:alvarez.ariel.work@gmail.com') Ariel Avarez

client/app/main/main.html
<snap-drawer><div class="drawer-header"><div class="drawer-logo"></div></div><ul class="drawer-menu"><li><a ui-sref="main.listable.eventos" ui-sref-active="drawer-menu-item-active" class="btn"><i class="glyphicon glyphicon-calendar"></i><span>Eventos</span></a></li><li><a ui-sref="main.listable.empresas" ui-sref-active="drawer-menu-item-active" class="btn"><i class="glyphicon glyphicon-briefcase"></i><span>Empresas</span></a></li><li><a ui-sref="main.listable.inscriptos" ui-sref-active="drawer-menu-item-active" class="btn"><i class="glyphicon glyphicon-user"></i><span>Inscriptos</span></a></li><li><a ui-sref="main.listable.categorias" ui-sref-active="drawer-menu-item-active" class="btn"><i class="glyphicon glyphicon-tags"></i><span>Categorías</span></a></li></ul></snap-drawer><snap-content><ui-view></ui-view><!--.footer--><!--  .container--><!--    p--><!--      | UIA Eventos 2014 | by--><!--      a(href='mailto:alvarez.ariel.work@gmail.com') Ariel Avarez--></snap-content>
