client/app/evento/evento.html
<nav role="navigation" class="navbar navbar-default"><div class="container-fluid"><div class="navbar-header"><button type="button" snap-toggle="" data-target="#editable-list-navbar" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div><div id="editable-list-navbar"><ul class="nav navbar-nav"><li><a href="#" ng-bind-html="evento.nombre" class="editable-list-title"></a></li><li ui-sref-active="active"><a ui-sref="main.listable.inscriptos({id:evento._id})">Inscriptos</a></li><li ui-sref-active="active"><a ui-sref="main.evento.empresasHabilitadas({id:evento._id})">Empresas Habilitadas</a></li><li ui-sref-active="active"><a ui-sref="main.evento.categoriasHabilitadas({id:evento._id})">Categorías Habilitadas</a></li></ul></div></div></nav><ui-view></ui-view>

client/app/evento/evento.jade
nav.navbar.navbar-default(role='navigation')
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', snap-toggle='' , data-target='#editable-list-navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    #editable-list-navbar
      ul.nav.navbar-nav
        li
          a.editable-list-title(href='#', ng-bind-html='evento.nombre')
        li(ui-sref-active='active')
          a(ui-sref='main.listable.inscriptos({id:evento._id})') Inscriptos
        li(ui-sref-active='active')
          a(ui-sref='main.evento.empresasHabilitadas({id:evento._id})') Empresas Habilitadas
        li(ui-sref-active='active')
          a(ui-sref='main.evento.categoriasHabilitadas({id:evento._id})') Categorías Habilitadas
ui-view
